# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: maven
    directories:
      - "**/*"
    groups:
      jersey:
        patterns:
          - "org.glassfish.jersey.*:*"
      spring:
        patterns:
          - "org.springframework:*"
      slf4j:
        patterns:
          - "org.slf4j:*"
      junit:
        patterns:
          - "org.junit:*"
      maven-install-plugin:
        patterns:
          - "org.apache.maven.plugins:maven-install-plugin"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 20
  - package-ecosystem: gradle
    directories:
      - "**/*"
    groups:
      jersey:
        patterns:
          - "org.glassfish.jersey:*"
      spring:
        patterns:
          - "org.springframework:*"
      slf4j:
        patterns:
          - "org.slf4j:*"
    schedule:
      interval: "weekly"