name: Continuous Integration
on:
  push:
  pull_request:
    branches:
      - master

jobs:
  build_core:
    name: Build and test core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build latest
        run: mvn -q clean install
        working-directory: ./aws-serverless-java-container-core

  build_jersey:
    name: Build and test Jersey
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build latest
        run: ./gha_build.sh jersey true true
      - name: Build Jersey 2.27
        run: ./gha_build.sh jersey false false -Djersey.version=2.27
      - name: Build Jersey 2.28
        run: ./gha_build.sh jersey false false -Djersey.version=2.28
      - name: Build Jersey 2.29
        run: ./gha_build.sh jersey false false -Djersey.version=2.29.1

  build_spark:
    name: Build and test Spark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build latest
        run: ./gha_build.sh spark true true
      - name: Build Spark 2.8.0
        run: ./gha_build.sh spark false false -Dspark.version=2.8.0

  build_spring:
    name: Build and test Spring & SpringBoot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build latest
        # we reduce the minCoverage for this run because it will skip the SpringBoot 1.5 tests since they are no longer compatible with
        # Spring core 5.2 and above. SpringBoot 1.5 is deprecated
        run: ./gha_build.sh spring true true -Djacoco.minCoverage=0.4
      - name: Build Spring 4.3
        run: ./gha_build.sh spring false false -Dspring.version=4.3.29.RELEASE -Dspring-security.version=4.2.18.RELEASE
      - name: Build Spring 5.0
        run: ./gha_build.sh spring false false -Dspring.version=5.0.19.RELEASE -Dspring-security.version=5.0.18.RELEASE
      - name: Build Spring 5.1
        run: ./gha_build.sh spring false false -Dspring.version=5.1.18.RELEASE -Dspring-security.version=5.1.12.RELEASE

  build_springboot2:
    name: Build and test SpringBoot 2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build latest
        run: ./gha_build.sh springboot2 true true
      - name: Build Spring Boot 2.0
        run: ./gha_build.sh springboot2 false false -Dspringboot.version=2.0.9.RELEASE -Dspring.version=5.0.19.RELEASE -Dspringsecurity.version=5.0.18.RELEASE
      - name: Build Spring Boot 2.1
        run: ./gha_build.sh springboot2 false false -Dspringboot.version=2.1.17.RELEASE -Dspring.version=5.1.18.RELEASE -Dspringsecurity.version=5.1.12.RELEASE

  build_struts2:
    name: Build and test Struts 2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build latest
        run: ./gha_build.sh struts2 true true
