name: Continuous Integration
on:
  push:
  pull_request:
    branches:
      - main
      - 1.x
  workflow_dispatch:

jobs:
  build_core:
    name: Build and test core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 17
      - name: Build latest
        run: mvn -q clean install
        working-directory: ./aws-serverless-java-container-core

  build_jersey:
    name: Build and test Jersey
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 17
      - name: Build latest
        run: ./gha_build.sh jersey true true
#      - name: Set up JDK 8
#        uses: actions/setup-java@v3
#        with:
#          distribution: 'corretto'
#          java-version: 8
#      - name: Build Jersey 2.27
#        run: ./gha_build.sh jersey false false -Djersey.version=2.27
#      - name: Build Jersey 2.28
#        run: ./gha_build.sh jersey false false -Djersey.version=2.28
#      - name: Build Jersey 2.29
#        run: ./gha_build.sh jersey false false -Djersey.version=2.29.1

  build_spring:
    name: Build and test Spring
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 17
      - name: Build latest
        run: ./gha_build.sh spring true true
#      - name: Build with Spring 6.0.x
#        run: ./gha_build.sh spring false false -Dspring.version=6.0.16 -Dspring-security.version=6.1.6 -Ddependency-check.skip=true

  build_springboot3:
    name: Build and test SpringBoot 3
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 17
      - name: Build latest
        run: ./gha_build.sh springboot3 true true
      # Build with additional supported versions https://spring.io/projects/spring-boot#support
      - name: Build with Spring Boot 3.1.x
        run: ./gha_build.sh springboot3 false false -Dspringboot.version=3.1.8 -Dspring.version=6.0.16 -Dspringsecurity.version=6.1.6 -Ddependency-check.skip=true

# temporarily disabled as Struts is not released at the moment
#  build_struts2:
#    name: Build and test Struts
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - name: Set up JDK 17
#        uses: actions/setup-java@v3
#        with:
#          distribution: 'corretto'
#          java-version: 17
#      - name: Build latest
#        run: ./gha_build.sh struts true true